* {
    font-family: 'Roboto';
}

body {
    background: url(static/theater-image-background.png) no-repeat center fixed;
    background-size: 100%;
    background-position-y: top;
    background-attachment: scroll;
}

#one {
    margin-top: 20%;
    text-align: center;
    position:sticky;
}

#two {
    margin-right: auto;
    margin-left: auto;

}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 15% 55% 15%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

#calendar {
    border: 2px solid grey;
    text-indent: 10%;
    background-color: lightgrey;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    width:80%;
    position:relative;
    left:-2%;
    max-width: 1150px;
}

hr {
    width:165%;
    position:relative;
    left:-35%;
}

.second-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 100px 300px 100px 100px;
    grid-template-columns: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.words {
    display: grid;
    margin: 2%;
    grid-template-rows: 0px 0px 0px 0px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
}

button {
    background-color: rgb(236, 206, 31);
    border-radius: 2px;
    color: white;
    border-width: 1px;
    font-size: 20px;
    height: 60px;
}

footer {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 50px;
    position:relative;
    margin-top: 20px;
    bottom:0px;
    height: max-content;
}


h1 {
    font-size: 500%;
}


#little {
    font-size: smaller;
    color: white;
}

#big {
    color: white;
}

#picture {
    width: 30%;
    position: relative;
    bottom:50px;
    left: 5%;
    margin:0px;
    padding:0px;
    max-width:320px;
    
}

span {
    color: orange;
}

.lastlist {
    display:grid;
    grid-template-columns: 36% 23% 20%;
    position: relative;
    bottom:35px;
    padding-left: 75px;
    grid-gap: 40px;
    margin-left: 30%;
    margin-top: -175px;
    
}

a {
    color: white;
    text-decoration: none;
    
}